

$color-principal: #1a204f;
$color-secundario: #fbab00;

$color-card: #303a82;

$color-titulo: #919191;
$color-texto: #cbd5e1;
$color-texto-sec: #94a3b8;

$blanco: #ffffff;


$fuente-titulo: "Donegal One", sans-serif;
$fuente-texto: "Dancing Script", cursive;